@import url('https://fonts.cdnfonts.com/css/monchila');
@import url('https://fonts.cdnfonts.com/css/railing-personal-use');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, red, white, rgb(0, 119, 0));
    padding: 20px;
}

.cabecera{
    display: grid;
    background: red;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    height: 9vh;
    width: 97vw;
    font-family: 'Monchila', sans-serif;
    font-size: 35px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: linear-gradient(to right, red, white, green);
    border: 2px solid black;
    border-radius: 8px;
    justify-content: center;
    height: 78vh;
    width: 97vw;
    align-items: center;
}

.navidad{
    display: grid;
    grid-column: 1/2;
    color: green;
    margin: 40px;
    width: 200px;
    height: 70px;
    border-radius: 2px;
    padding: 5px;
    justify-content: center;
    font-size: 30px;
    animation-name: movimiento2;
    animation-duration: 4s;
    position: relative;
    animation-direction: alternate;
    align-items: center;
    font-family: 'Railing personal use', sans-serif;
    animation-fill-mode: forwards;
}

@keyframes movimiento2{
    0%{
        left: 0%;
    }
    25%{
        left: 25%;
        border-radius: 5px;
        
        transform: skew(-7deg);
    }
    50%{
        left: 50%;
        border-radius: 8px;
        transform: rotate(7deg);
        transform: skew(7deg);
    }
    75%{
        left: 75%;
        border-radius: 14px;
        
        transform: rotate(-10deg);
    }
    100%{
        left: 110%;
        border-radius: 20px;
        font-size: 45px;
        
    }
}

.feliz{
    display: grid;
    grid-column: 3/4;
    color: red;
    margin: 40px;
    width: 170px;
    height: 70px;
    border-radius: 2px;
    padding: 5px;
    justify-content: center;
    font-size: 30px;
    animation-name: movimiento;
    animation-duration: 4s;
    position: relative;
    animation-direction: alternate;
    align-items: center;
    font-family: 'Railing personal use', sans-serif;
    animation-fill-mode: forwards;

}


@keyframes movimiento{
    0%{
        right: 0%;
    }
    25%{
        right: 10%;
        border-radius: 5px;
        
        transform: skew(7deg);
    }
    50%{
        right: 25%;
        border-radius: 8px;
        transform: rotate(-7deg);
        transform: skew(-7deg);
    }
    75%{
        right: 40%;
        border-radius: 14px;
        
        transform: rotate(10deg);
    }
    100%{
        right: 55%;
        border-radius: 20px;
        font-size: 45px;
        
    }
}

.pie{
    display: grid;
    background: green;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    height: 9vh;
    width: 97vw;
    font-family: 'Monchila', sans-serif;
    font-size: 35px;
}

